.tile {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: #000000;
  text-transform: uppercase;
  user-select: none;
  border: 2px solid #d3d6da;
  margin: 2px;
  width: 62px;
  height: 62px;
}

.green {
  background-color: #6aaa64;
  color: #ffffff;
  border: none;
}

.grey {
  background-color: #787c7e;
  color: #ffffff;
  border: none;
}

.yellow {
  background-color: #c9b458;
  color: #ffffff;
  border: none;
}

@media (max-width: 737px) {
  .tile {
    width: 50px;
    height: 50px;
  }
}
